<footer id="sticky-footer" class="py-4 bg-dark text-white fixed-bottom">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to 'Diego de Oliveira', "https://github.com/deOliveiraDiego", class:"text-white" %></small>
  </div>
</footer>